# Filetypes to ignore
*.class
*.pyc
*.pkc

# Garbage OS files
.DS_Store

# Build artifacts
artifacts/
bin/
bin-test/
build/
dist/
/nengo-*/
nengo-latest.zip
target/

# Eclipse generated
.classpath
.metadata/
.project
.pydevproject
.settings/

# Generated in testing
delimited_file_exporter_test.txt
nengo.log

# GUI generated
UIFiles
User.config
/simulator-ui/commandhistory.dat
/simulator-ui/layouts/
/simulator-ui/quick/
/simulator-ui/python/timeview/layout.db.bak
/simulator-ui/python/timeview/layout.db.dir
/simulator-ui/python/NengoUI.egg-info
