*.class
*.pyc
*.pkc
.DS_Store
nengo-*
nengo-latest.zip
NengoModels

_build/

.metadata/*
simulator-ui/commandhistory.dat

simulator-ui/quick/*

simulator-ui/python/timeview/layout.db.bak

simulator-ui/delimited_file_exporter_test.txt
