[Desktop Entry]
Type=Application
Version=1.4.0
Name=Nengo
Comment=Large-scale neural simulator
Exec=nengo
Icon=nengologo256
Terminal=false
Categories=Education;Science;Java
